<IfModule mod_rewrite.c>
    RewriteEngine On

    # ✅ 1. Не переписывать запросы к файлам/папкам в /dist
    RewriteCond %{REQUEST_URI} ^/dist/ [NC]
    RewriteRule ^ - [L]
    # ✅ 1. Не переписывать запросы к файлам/папкам в /dist
    RewriteCond %{REQUEST_URI} ^/public/ [NC]
    RewriteRule ^ - [L]

    # ✅ 3. Всё остальное отправляем в index.php
    RewriteRule ^ index.php [L]
</IfModule>
